<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {% load static %}
    {% load weather_tags %}
    <link href="{% static 'weather_app/css/bootstrap.min.css' %}" rel="stylesheet" >
    <!-- https://erikflowers.github.io/weather-icons/ -->
    <link href="{% static 'weather_app/css/weather-icons-master/css/weather-icons.min.css' %}" rel="stylesheet" >
    <link href="{% static 'weather_app/css/custom.css' %}" rel="stylesheet" >
</head>
<body style="background-color: #ebebeb; min-height: 100%;">
    <!-- Header -->
    <nav class="navbar navbar-light bg-dark shadow sticky-top justify-content-center pt-3 pb-3">
        
        <span class="navbar-brand mb-0 h1 text-light"><i class="wi wi-horizon-alt text-warning"></i> WeatherApp.io</span>
    </nav>
    
    <div class="container h-100 pt-4 pb-4">

        <div class="d-flex flex-column px-3 pt-3 pb-5 bg-white shadow mb-4 rounded">
            <h4>Current Weather</h4>
            {% if current_weather %}
            <p class="my-0">{{ current_weather.date|dayName }}, {{ current_weather.date|formatDatePretty }}</p>
            <p class="my-0">{{ current_weather.time|formatTime }}</p>
            <div class="d-flex">
                <div class="flex-fill">
                    <div class="d-flex h-100 w-100 justify-content-center flex-column align-items-center">
                        <p style="font-size: xxx-large; font-weight: bold;" class="my-0">{{ current_weather.air_temperature|formatAirTemperatureUnit }}</p>
                        <div class="d-flex align-items-center w-50 justify-content-center">
                            <div style="font-weight: bold;">
                                {{ current_weather.next_1_hours|formatWeatherCode }}
                            </div>
                            
                            {% static current_weather.next_1_hours|parseToImagePath as weatherImage %}
                            <div>
                                <img src="{{ weatherImage }}" alt="{{ current_weather.next_1_hours }}" width="75" height="75"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill">
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between">
                            <div>
                                Air Pressure at Sea Level
                            </div>
                            <div>
                                {{ current_weather.air_pressure_at_sea_level }}
                            </div>
                        </div>
                        <hr class="mt-2 mb-2" />
                        <div class="d-flex justify-content-between">
                            <div>
                                Cloud Area Fraction
                            </div>
                            <div>
                                {{ current_weather.cloud_area_fraction }}
                            </div>
                        </div>
                        <hr class="mt-2 mb-2" />
                        <div class="d-flex justify-content-between">
                            <div>
                                Relative Humidity
                            </div>
                            <div>
                                {{ current_weather.relative_humidity }}
                            </div>
                        </div>
                        <hr class="mt-2 mb-2" />
                        <div class="d-flex justify-content-between">
                            <div>
                                Wind From Direction
                            </div>
                            <div>
                                {{ current_weather.wind_from_direction|formatWindDirection }}
                            </div>
                        </div>
                        <hr class="mt-2 mb-2" />
                        <div class="d-flex justify-content-between">
                            <div>
                                Wind Speed
                            </div>
                            <div>
                                {{ current_weather.wind_speed }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
                No data available.
            </div>
            {% endif %}
        </div>

        <h4>Weather Forecast</h4>
        {% if data %}
        {% for weather in data %}
            <div class="accordion" id="accordionPanelsStayOpenExample" >
                <div class="accordion-item bg-white mb-2 shadow-sm">
                <div class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ 'item'|concat:forloop.counter }}" aria-expanded="true" aria-controls="{{ 'item'|concat:forloop.counter }}">
                        <div class="row w-100 align-self-center">
                            <div class="col-3">
                                <p class="p-0 m-0" style="font-weight: bold;">{{ weather.time|formatTime }}</p>
                                <p class="p-0 m-0">{{ weather.date|formatDateSimple }}</p>
                            </div>
                            <div class="col-3 align-self-center">
                                {% static weather.next_1_hours|parseToImagePath as weatherImage %}
                                <div>
                                    <img src="{{ weatherImage }}" alt="{{ weather.next_1_hours }}" width="75" height="75"/>
                                </div>
                            </div>
                            <div class="col-3 align-self-center" style="font-size: x-large; font-weight: bold;">
                                {{ weather.air_temperature|formatAirTemperatureUnit }}
                            </div>
                            <div class="col-3 align-self-center" style="font-weight: bold;">
                                {{ weather.next_1_hours|formatWeatherCode }}
                            </div>
                        </div>
                    </button>
                </div>
                <div id="{{ 'item'|concat:forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                    <div class="d-flex">
                        <div class="flex-fill px-2">
                            <div class="d-flex flex-column">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        Air Pressure at Sea Level
                                    </div>
                                    <div>
                                        {{ weather.air_pressure_at_sea_level }}
                                    </div>
                                </div>
                                <hr class="mt-2 mb-2" />
                                <div class="d-flex justify-content-between">
                                    <div>
                                        Cloud Area Fraction
                                    </div>
                                    <div>
                                        {{ weather.cloud_area_fraction }}
                                    </div>
                                </div>
                                <hr class="mt-2 mb-2" />
                                <div class="d-flex justify-content-between">
                                    <div>
                                        Relative Humidity
                                    </div>
                                    <div>
                                        {{ weather.relative_humidity }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-fill px-2">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Wind From Direction
                                </div>
                                <div>
                                    {{ weather.wind_from_direction|formatWindDirection }}
                                </div>
                            </div>
                            <hr class="mt-2 mb-2" />
                            <div class="d-flex justify-content-between">
                                <div>
                                    Wind Speed
                                </div>
                                <div>
                                    {{ weather.wind_speed }}
                                </div>
                            </div>
                            <hr class="mt-2 mb-2" />
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            
            </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning shadow" role="alert">
            No data available.
        </div>
        {% endif %}
    </div>
    <script src="{% static 'weather_app/js/bootstrap.min.js' %}"></script>
    <script>

        

    </script>
</body>
</html>