<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {% load static %}
    <link href="{% static 'weather_app/css/bootstrap.min.css' %}" rel="stylesheet" >  
</head>
<body>
    <h1 class="container">Hello, World!</h1>
    <script src="{% static 'weather_app/js/bootstrap.min.js' %}"></script>
</body>
</html>