<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WEATHER TODAY</h1>
    {% for wea in current_weather %}
        <tr>
            <br><td>Date: {{ wea.date }}</td><br>
            <td>Time: {{ wea.time }}</td><br>
            <td>Next 1 Hour will be: {{ wea.next_1_hours }}</td><br>
            <td>Air Pressure at sea level: {{ wear.air_pressure_at_sea_level }}</td><br>
            <td>Air Temperature: {{ wea.air_temperature }}</td><br>
            <td>Cloud area fraction: {{ wea.cloud_area_fraction }}</td><br>
            <td>Humidity: {{ wea.relative_humidity }}</td><br>
            <td>Wind from direction: {{ wea.wind_from_direction }}</td><br>
            <td>Wind Speed: {{ wea.wind_speed }}</td><br>
        </tr>
    {% endfor %}
    <h2>List of Weather</h1>
    {% for weather in data %}
        <tr>
            <br><td>Date: {{ weather.date }}</td><br>
            <td>Time: {{ weather.time }}</td><br>
            <td>Next 1 Hour will be: {{ weather.next_1_hours }}</td><br>
            <td>Air Pressure at sea level: {{ weather.air_pressure_at_sea_level }}</td><br>
            <td>Air Temperature: {{ weather.air_temperature }}</td><br>
            <td>Cloud area fraction: {{ weather.cloud_area_fraction }}</td><br>
            <td>Humidity: {{ weather.relative_humidity }}</td><br>
            <td>Wind from direction: {{ weather.wind_from_direction }}</td><br>
            <td>Wind Speed: {{ weather.wind_speed }}</td><br>
        </tr>
    {% endfor %}
</body>
</html>